@font-face {
  font-family: "Proxima Nova";
  src:
    local("Proxima Nova"),
    url("../fonts/proximanova_regular.ttf");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src:
    local("Proxima Nova Bold"),
    url("../fonts/proximanova_bold.otf");
}

@font-face {
  font-family: "Garamond EB";
  src:
    local("Garamond EB"),
    url("../fonts/EBGaramond-Regular.ttf");
}

:root {
  /* Jackie's Site: https://nwcbt.com/ */
  --minty: rgba(93, 177, 168, 1);
  --soft-navy: #417D9A;
  --blackish: rgba(33, 33, 33, 1);
  --silver: rgba(167, 168, 170, 1);
  --dark-silver: rgba(133, 132, 134, 1);

  --background-color: white;
  --nav-bar: var(--minty);
  --nav-bar-text: white;
  --card: white;
  --card-border: var(--soft-navy);
  --shrunk-card: white;
  --main-text: var(--blackish);
  --column: rgba(255, 255, 255, 0.5);
  --column-border: var(--dark-silver);
  --column-title: var(--minty);
  --column-title-text: white;
}

html {
  height: 100%;
}

body {
  background-image: url("../images/deskbackground.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova", Arial, sans-serif;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  /* from my boi stack overflow */
  /* TODO: takes up more than full page???? */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--nav-bar);
  padding: 10px 20px;
}

.nav-icon {
  position: absolute;
  left: 20px;
}

.nav-title {
  flex: 1;
  text-align: center;
}

.nav-title h1 {
  margin: 0;
  font-family: "Proxima Nova Bold", Arial, sans-serif;
  font-size: 1.8em;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: white;
}

.nav-icon img {
  max-height: 50px;
  max-width: 100%;
  cursor: pointer;
}

#about-dialog {
  border-radius: 5px;
  padding: 8px;
}

#about-dialog::backdrop {
  background: rgba(0, 0, 0, .5);
}

#about-dialog div {
  display: flex;
  flex-direction: column;

  width: 500px;
}

#about-dialog p {
  font-family: "Proxima Nova", Arial, sans-serif;
  line-height: 1.5;
  margin: 0px 16px 16px 16px; /* top right bottom left */
}

#close-dialog {
  align-self: flex-end;

  background: transparent;
  border: none;
  color: #626368;
  font-size: 18pt;
  font-weight: bold;
}

#close-dialog:hover {
  color: var(--charcoal-black);
}

/* TODO: Why do I need this to avoid blue outlining?? */
#close-dialog:focus {
  outline: none;
}

.columns {
  display: flex;
  justify-content: space-around;

  height: 55%;
  padding: 10px;
}

.column {
  background: var(--column);
  border: solid 2px var(--column-border);
  border-radius: 4px;
  display: flex;
  flex: 1;
  flex-direction: column;

  margin: 10px;

  /* for popout effect */
  transition: transform 0.4s ease, box-shadow 0.2s ease;
}

/* for popout effect */
.column.pop-out {
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.column-title {
  background-color: var(--column-title);
  border-radius: 1px;
  color: var(--column-title-text);
  display: inline-block;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  height: 50px;
  letter-spacing: .1rem;
  line-height: 50px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  vertical-align: middle;
}

#very-important, #important, #not-important {
  background: var(--column);
}

.list-of-cards {
  align-content: flex-start;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

/* for popout effect */
.column.pop-out {
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.column h2 {
  text-align: center;
}

#card-queue {
  bottom: 0;
  height: 33%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
}

.card {
  background: var(--card);
  border: solid 3px var(--card-border);
  border-radius: 5px;
  color: var(--charcoal-black);
  height: 150px;
  margin: 10px;
  padding: 10px;
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}

.card-desc {
  font-family: "Garamond EB", Arial, sans-serif;
  font-size: 18px;

  justify-content: center;
}

.shrunk-card {
  background-color: var(--shrunk-card);

  height: fit-content;
  width: 130px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 3px;
}

.card .shrunk-card-title {
  font-size: 16px;
  margin: 0px;
}

.card .shrunk-card-desc {
  font-size: 12px;
  text-align: center;
}